# Python
*.pyc
__pycache__/

# Entornos Virtuales
env/
venv/

# Archivos de base de datos
db.sqlite3

# Archivos de configuración
*.env

# Archivos de log
*.log

# Archivos de cobertura
*.coverage
.coverage.*

# Archivos de caché
*.cache

# Archivos de configuración de IDE
.vscode/
.idea/

# Otros archivos temporales
*.tmp
*.swp
*~
